.footer{
    position:fixed;
    left: 30%;
    bottom:4%;
    height: 10%;
    width:40%;
    border: solid black;
    border-radius: 35px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F4BCB8;
}
.center-hor {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-btn{

    border: solid 1px black;
    border-radius: 50%;
    background-color: #FFEFE7;
}
.footer-txt {
    background-color: #F4BCB8;
    border:none;
}
