<div class="container">
    <div></div>
    <div class="form-container">
        <mat-card> 
            <form [formGroup] = "loginForm" (ngSubmit)="login()">
                <mat-toolbar class="toolbar"color="primary">Sign In</mat-toolbar>
                <mat-form-field>
                    <mat-label>e-mail address: </mat-label>
                    <input required autocomplete matInput placeholder="emailexample@gmail.com" formControlName = "email">
                </mat-form-field>
            
                <mat-form-field>
                    <mat-label>password: </mat-label>
                    <input required autocomplete matInput type="password" placeholder="password" formControlName = "password">
                </mat-form-field>

                <button mat-button type="submit">Login</button>
            </form>
            
        </mat-card>
    </div>
    <div></div>
</div>
<!--code example: https://material.angular.io/components/input/overview -->