.entry{
    width: 20%;
    height:30%;
    border: solid 2px black;
    border-radius: 25px;
    padding:2%;
    margin:1%;
    display: flex;
    justify-content: flex-end;
}
.entry-btn-1{
    /* position:absolute; */
    left: 50%;
    background-color: #bbd4bf;
    border-radius: 50%;;
    padding: 10px;
}
.entry-btn-2{
    top: 20%;
    right: 10%;
    background-color: #6cba78;
    border-radius: 50%;;
    padding: 10px;
}
.entry-btn-3{
    top: 30%;
    right: 10%;
    background-color: #6cba78;
    border-radius: 50%;;
    padding: 10px;
}