<div class="container">
    <div></div>
    <div class="form-container">
        <mat-card> 
            <form [formGroup] = "signupForm" (ngSubmit)="signup()">
                <mat-toolbar class="toolbar"color="primary">Sign Up!</mat-toolbar>
                <mat-form-field>
                    <mat-label>First Name: </mat-label>
                    <input required autocomplete matInput placeholder="first name" formControlName = "firstname">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Last Name: </mat-label>
                    <input required autocomplete matInput placeholder="last name" formControlName = "lastname">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>e-mail address: </mat-label>
                    <input required autocomplete matInput placeholder="emailexample@gmail.com" formControlName = "email">
                </mat-form-field>
            
                <mat-form-field>
                    <mat-label>password: </mat-label>
                    <input required autocomplete matInput type="password" placeholder="password" formControlName = "password">
                </mat-form-field>

                <button mat-button type="submit">Start journaling !</button>
            </form>
            
        </mat-card>
    </div>
    <div></div>
</div>